.box{
    background: linear-gradient(to left, rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0.6));
    border-style: ridge;
}


h1{
    text-align: center;
    font-family: fantasy;
}

h2{
    text-align: center;
    font-family:cursive;
}

.imagenes-tabla{
    width: 140px;
    height: auto;
}

.contact{
    position: absolute;
    left: 70%;
    font-size: x-large;
}

.ubication{
    position: absolute;
    left: 80%;
    font-size: x-large;
}

.informacion{
    background-color: black;
}

p{
    color: white;
    font-size:small;
    font-family:monospace;
}
